.selected rect {
  fill: green !important;
}

.paper-container {
  background: #cccccc;
  width: 800px;
  height: 500px;
  overflow: auto;
  border: solid 1px black;
  margin: 50px;
}

.uml-example-container {
  background: #cccccc;
  width: 1500px;
  height: 1500px;
  overflow: auto;
  border: solid 1px black;
  margin: 50px;
}